* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left,#ed4264,#ffedbc);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.infoHero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left,#ed4264,#ffedbc);
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.pay-hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left,#ed4264,#ffedbc);
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.complaint{
    width: 320px;
    height: 480px;
    background-color: #fff;
    position: relative;
    padding: 5px;
    border-radius: 30px;
    top: -475px;
    left: 1215px;
}
.userId{
    width: 480px;
    height: 280px;
    background-color: #fff;
    position: relative;
    padding: 5px;
    border-radius: 30px;
    top: -400px;
    left: 720px ;
}
.bill-rent-table{
    width: 700px;
    height: 400px;
    position: relative;
    margin: 6% auto;
    background-color: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
    top: -65px;
}
.to-do{
    width: 320px;
    height: 480px;
    background-color: #fff;
    position: relative;
    padding: 5px;
    border-radius: 30px;
    top: 15px;
    left: 415px;
    
}
.comp-pay{
    width: 380px;
    height: 225px;
    position: relative;
    margin: 6% auto;
    background-color: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
    top: -120px;
}
.cop-pay-but{
    top: 0;
    left: 0;
    position: relative;
    width: 50px;
    height: 25px;
    background-image: linear-gradient(to left,#ed4264,#ffedbc);
    border-radius: 30px;
    transition: .5s;
}
.list-to-do{
    font-size: 24px;
    
}
h2{
    font-size: 36px;
    text-align: center;
}

.form-box {
    width: 380px;
    height: 600px;
    position: relative;
    margin: 6% auto;
    background-color: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
}
.infoApt{
    width: 380px;
    height: 325px;
    position: relative;
    margin: 6% auto;
    background-color: #fff;
    padding: 5px;
    overflow: hidden;
    color: #555555;
    border-radius: 30px;  
    font-size: 14px;
    
}

.github{
    width: 380px;
    height: 100px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    overflow: hidden;
    left:150px;
}

.button-box {
    width: 320px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 10px 3px #ffedbc;
    border-radius: 30px;
}

.toggle-b {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background-image: linear-gradient(to left,#ed4264,#ffedbc);
    border-radius: 30px;
    transition: .7s;
}

.input-group {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-b {
    width: 65%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background-image: linear-gradient(to left,#ed4264,#ffedbc);
    outline: none;
    border-radius: 30px;
    border: 0;
}
.info-com-btn{
    top: 70px;
    left: 5px;
    position: relative;
    width: 45%;
    height: 25px;
    background-image: linear-gradient(to left,#ed4264,#ffedbc);
    border-radius: 30px;
    transition: .5s;
}
.flat-btn{
    top: 5px;
    left: 175px;
    position: relative;
    width: 20%;
    height: 25px;
    padding: 5px;
    background-image: linear-gradient(to left,#ed4264,#ffedbc);
    border-radius: 30px;
    transition: .5s;
}

.chechk-box {
    margin: 30px 10px 30px 0;
}

span {
    display: inline;
    color: #777;
    font-size: 12px;
}
#terms{
    display: inline;
    color: #777;
    font-size: 12px;
}
#log-in{
    left: 50px;
    margin: 5em 0;
}
#register{
    left: 450px;
}
#admin{
    left: 850px;
}
