* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.welcome {
  background-image: linear-gradient(
    to left,
    rgba(237, 66, 100, 0.25),
    rgba(255, 237, 189, 0.25)
  );
  text-align: center;
  color: #333;
}
#welcome {
  text-shadow: 2px 1.5px #ffedbc;
}
#upper{
    text-transform: uppercase;
}


.main-content {
  display: flex;
  padding: 2%;
  flex-wrap: wrap;
  flex-direction: row;
}
.main-item {
  margin: -2% 10%;
  padding: 2%;
  line-height: 1.5;
  text-align: center;
  flex: 1;
  flex-grow: 1;
  flex-basis: 0;
}


.links{
  position: fixed;
  width: 100%;
  height: 7.5%;
  bottom: 0;
  background-color:#212529;
  display:flex;
  align-items:center;
  justify-content:center;
}
.links ul{
  margin:0;
  list-style:none;
  display:flex;

}
.links ul li{
  padding:.5rem;
}

.links ul li a{
  text-decoration:none;
  color:inherit;
}
